<section>
  <h3>Adout Myself</h3>
  
  <div class="face-lockup">
   
    <div class="face-img" style="background-image: url(assets/img/{{site.avatar}});"></div>
 

    
    <div class="icon-pencil"></div>
    <div class="icon-book"></div>
    <div class="icon-glass"></div>
    <div class="icon-teacher"></div>
    
  </div>
  
  
  <div class="blurb">
      {{ site.blurb }}
  </div>
  
  <div class="skill-lockup">
    <div class="skill-unit">
      <div class="skill-label">Communication</div>
      <div class="skill-icons skill-10">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
        
      </div>
    </div>
    
     <div class="skill-unit">
      <div class="skill-label">Organization</div>
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
        
      </div>
    </div>
    
    
     <div class="skill-unit">
      <div class="skill-label">Teaching</div>
      <div class="skill-icons skill-9">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
        
      </div>
      
      
    </div>
     <div class="skill-unit">
      <div class="skill-label">Planning</div>
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
        
      </div>
    </div>
    
     <div class="skill-unit">
      <div class="skill-label">Learning</div>
      <div class="skill-icons skill-9">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
        
      </div>
    </div>
    
     <div class="skill-unit">
      <div class="skill-label">Sport</div>
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
        
      </div>
    </div>
  </div>
  
</section>
