<section>
  <h3>Adout Myself</h3>
  
  <div class="face-lockup">
    <div class="face-img"></div>
    <div class="icon-pencil"></div>
    <div class="icon-book"></div>
    <div class="icon-glass"></div>
    <div class="icon-teacher"></div>
  </div>
  
  
  <div class="blurb">
      <p><strong>Lorem ipsum dolor sit amet.</strong> Consectetur adipisicing       elit. Voluptate eum nesciunt in maiores nisi eius totam sequi harum           reprehenderit expedita illo cum sunt a doloremque dignissimos                 accusantium architecto eos velit, aut, id. Odit animi, voluptatibus           esse perferendis delectus, labore architecto nemo tenetur perspiciatis       libero, provident reiciendis eveniet obcaecati. Cum, sunt, asperiores!       Aut velit pariatur t Lorem ipsum dolor sit amet, consectetur                 adipisicing elit. Iure, perspiciatis. Possimus, ea. Laudantium quidem,       error omnis modi quaerat! Blanditiis, ab.
      </p>
  </div>
  
  <div class="skill-lockup">
    <div class="skill-unit">
      <div class="skill-label">Communication</div>
      <div class="skill-icons skill-10">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
        
      </div>
    </div>
    
     <div class="skill-unit">
      <div class="skill-label">Organization</div>
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
        
      </div>
    </div>
    
    
     <div class="skill-unit">
      <div class="skill-label">Teaching</div>
      <div class="skill-icons skill-9">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
        
      </div>
      
      
    </div>
     <div class="skill-unit">
      <div class="skill-label">Planning</div>
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
        
      </div>
    </div>
    
     <div class="skill-unit">
      <div class="skill-label">Learning</div>
      <div class="skill-icons skill-9">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
        
      </div>
    </div>
    
     <div class="skill-unit">
      <div class="skill-label">Sport</div>
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
        
      </div>
    </div>
  </div>
  
</section>