<section class="section-team">
  
  <h3 id="team"> Our Team</h3>
  
 <div class="team-controls">
   <div class="team-control-next">{% include icons/icon-next.html %}</div>
   <div class="team-control-prev">{% include icons/icon-prev.html %}</div>
 </div> 
 
 
  <div class="team-belt">
    
    {% for team in site.data.settings.teams %}
    <div class="team-unit"> 
      <div class="team-face">
        <img src="assets/img/team/{{ team.avatar }}" alt="Team-face" />
        <strong class="team-name">{{ team.name }} </strong>
        <em class="team-title">{{ team.title }}</em>
      </div>
      
    <div class="team-content">    
      <div class="team-quote-mark">{%  include icons/icon-quote-mark.html %}</div>  
      {{  team.quote }}
      </div>
      
    </div>
    {% endfor %}
  </div>
  
  <div class="teams-logos">
    
    <div class="team-logo active-client"></div>
    
    <div class="team-logo"></div>
    
    <div class="team-logo"></div>
    
    <div class="team-logo"></div>
    
  </div>
</section>