<section class="alt-section section-work">
  
  <h3 id="#work">Work</h3>
  
  <div class="work-belt">
     <div class="thumb-wrap">
        <div class="thumb-container">   
    {% for project in site.data.settings.projects %}
     <a class="thumb-unit" style="background-image: url(assets/img/work/{{ project.folder}}/thumb.jpg)">
      <div class="thumb-overlay">
       <strong>{{  project.name }}</strong>
       </div>
     </a>
     {% endfor %}
    </div>
     </div>
     
     <div class="work-wrap">
        <div class="work-container">
        <div class="work-return">{% include icons/icon-back.html %}</div>
      <h4>Do Work</h4>
      <div style="width: 600px; height: 500px; background: #ccc;"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <div style="width: 600px; height: 500px; background: #ccc;"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <div style="width: 600px; height: 500px; background: #ccc;"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>
     </div>
  </div>
  
</section>